{%extends 'index.html'%}
{%block content%}
<br>
<br>
<div class="container">
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">{{photo.name}} </div>
    <img src="{{image.image.url}}" class="img-responsive" alt="Image" >  
   
    <div class="card-body">
      <b class="card-title"> Taken In :{{image.location}} </b>
      <p class="card-title"> Category :{{image.category}} </p>
      <p class="card-text"> Description :{{image.description}} </p>
    </div>
  </div>

</div>

{%endblock%}