{%extends 'index.html'%}
{%block content%}
<br>
<br>
<div class="container">
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">{{image.name}} </div>
    <img src="{{image.image.url}}" class="img-responsive" alt="Image" >  
   
    <div class="card-body">
      <b class="card-title"> Taken In :{{image.location}} </b>
      <p class="card-title"> Category :{{image.category}} </p>
      <p class="card-text"> Description :{{image.description}} </p>
    </div>
  </div>

  <input class="form-control input-lg" type="text"  value="{{image.image.url}}" id="{{image.id}}.url" style="width: 200px;">
                       
  <button type="button" class="btn btn-success  " onclick="copyLink('{{image.id}}.url')" style="margin-bottom:40px">copy</button>

</div>
{%block script%}
                        <script>
                         copyLink = (element) => {
                         document.getElementById(element).select();
                         document.execCommand("copy");
                                                             }
                         </script>
  {%endblock%}

{%endblock%}

