{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta Galleries</title>


  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    {%block content%}
    <br>
    <br>
      <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5 style="font-style: italic;color: brown;">Welcome to insta Galliries</h5>
              <h5 style="font-style: italic;color: brown;">Get A Touch And Feel of Nice Photos</h5>
              <h5 style="font-style: italic;color: brown;">Insta Galleries Is a Collection <br>
                of many photos grouped by Categories <br>
                 from Differents parts along the Globe </h5>
            </div>
            {%for photo in photos%}
              <div class="col-md-4">
            
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                  <div class="card-header">{{photo.name}} </div>
                  <img src="{{photo.image.url}}" class="img-responsive" alt="Image" >  
                 
                  <div class="card-body">
                    <b class="card-title"> Taken In :{{photo.location}} </b>
                    <p class="card-title"> Category :{{photo.category}} </p>
                    <p class="card-text"> Description :{{photo.description}} </p>
                    <button>
                      <a href=" {% url 'photo' photo.id %} ">View Image </a>
                    </button>
                  </div>
                </div>
            
              </div>
              {%endfor%}

              <div class="col-md-4">
             
              </div>
          </div>
      </div>
    {%endblock%}
    
    

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>